<div ng-controller="CardListController">
    <div ng-if="cards.length">
        <table>
            <thead>
                <th>Front</th>
                <th>Back</th>
                <th>Next Review</th>
                <th>&nbsp;</th>
            </thead>
            <tbody>
                <tr ng-repeat="card in cards">
                    <th>{{card.front}}</th>
                    <td>{{card.back}}</td>
                    <td>{{card.nextReview | humanTime}}</td>
                    <td>
                        <button ng-click="deleteCard(card)" class="button alert">Delete</button>
                    <td>
                </tr>
            </tbody>
        </table>
        <div ng-controller="NewCardController">
        </div>    
    </div>
</div>