<div ng-controller="QuizController" ng-if="cards.length">
    <div ng-repeat="card in cards | filter: greaterThan(currentTime, 'nextReview')" ng-if="$index==reviewIndex">
        <div class="card">
            <p ng-hide="reviewMode">{{card.front}}</p>
            <p ng-show="reviewMode">{{card.back}}`</p>
        </div>
        <div>
            <ul class="controls">
                <li ng-hide="reviewMode"><button ng-click="flipCard(card)">Flip</button></li>
                <li ng-show="reviewMode"><button ng-click="markCorrect(card)">Right</button></li>
                <li ng-show="reviewMode"><button ng-click="markWrong(card)">Wrong</button></li>
                <li><button ng-click="skipCard()">Skip</button></li>
            </ul>
        </div>
    </div>
</div>